.active {
    display: flex;
    opacity: 1;
}

.hidden {
    opacity: 0;
}


.arrow {
    position: absolute;
    bottom: 13rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.arrow:hover {
    color: #555;
}

.arrow:focus {
    outline: none;
}

.arrow:first-of-type {
    left: 0rem;
}

.arrow:last-of-type {
    right: 0rem;
}